# Ignorar dados pesados e pessoais de navegadores
.config/mozilla/
.config/google-chrome/
.cache/

# Ignorar bancos de dados sqlite e temporários
*.sqlite
*.sqlite-journal
*.log

# Formatos indesejados
*.mp4
*.mp3
